@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @foreach (var adv in Model.Advertisers)
        {
            <h2>@adv.Name</h2>
            <br />
            <h4>@adv.Description</h4>
            <br />
            <h4>@adv.Purse.CurrentBalance</h4>
            <br />
            <h4>@adv.Auth.Login</h4>
        }
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
